
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(209, 199, 252);
    color: #161717;
    height:auto;
    min-height:100vh;
}

/* Container styling */
.container {
    font-family: 'Roboto';
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 2em;
}
/* Navigatiebalk */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(107, 52, 246, 0.95);
    padding: 15px 30px;
    z-index: 1000;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
    border-radius: 2px;
}

/* Mobiel menu */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background: rgba(107, 52, 246, 0.95);
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}


